<!DOCTYPE html>
<html>

<head>
    <title></title>
    <style>
        h2 {
            color: rgb(240, 108, 0);
            font-style: oblique;
            text-decoration: underline;
            text-emphasis: initial;
        }

        body {
            background: linear-gradient(to bottom, rgba(255, 100, 53, 0.384), rgba(255, 199, 69, 0.443), rgba(253, 124, 4, 0.639));
            min-height: 100vh;
        }
    </style>
</head>

<body>
    {% for yoga in yogas %}
    <h2>Recomended Yoga Name:</h2>
    <h3>{{yoga.name}}</h3>

    {% comment %} <h4>{{yoga.picture}}</h4> {% endcomment %}

    {% comment %} <img src="{{yoga.picture.url}}"> {% endcomment %}

    {%load static%} <img src="{%static 'diabetes.png' %}" alt="home" />
    <h2>Guide and Details:</h2>
    <h5>{{yoga.description}}</h5>
    <br>
    {%endfor%}
</body>

</html>